<section class="content">
    <article>
        <img class="listing-photo" alt="Foto" src="{{imovel?.url_foto}}">
        <section class="listing-description">
            <h2 class="listing-heading">{{imovel?.nome}} </h2>
            <p class="listing-location">
                {{imovel?.cidade}}, {{imovel?.estado}}
            </p>
            <p class="valor">Valor do imovel: {{valorImovel}}</p>
        </section>
        <section class="listing-features">
        <h2 class="section-heading">Informações financiamento</h2>
        </section>
        <div>
            <label for="">Valor entrada: </label>
            <input type="number" [(ngModel)]="valorEntrada"/>

            <label for="" >Valor entrada: </label>
            <select [(ngModel)]="prazoMeses" class="custom-select">
                <option value="100">100</option>
                <option value="100">180</option>
                <option value="100">360</option>
            </select>

            <button class="primary" (click)="calcular()">Calcular</button>

            <h3>Valor parcela: R$ {{formatCurrency(valorParcela)}}</h3>
        </div>
    </article>

</section>
